# TDT4305 Project 1 - DataFrame Tasks

## Task 5

In [18]:
reviews = spark.read.format('csv').option('delimiter', '\t').option('header', 'true')\
    .load('data/yelp_top_reviewers_with_reviews.csv')
businesses = spark.read.format('csv').option('delimiter', '\t').option('header', 'true')\
    .load('data/yelp_businesses.csv')
friendships = spark.read.csv('data/yelp_top_users_friendship_graph.csv', header='true')

In [20]:
reviews.createTempView('reviews')
businesses.createTempView('businesses')
friendships.createTempView('friendships')

In [25]:
reviews.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- user_id: string (nullable = true)
 |-- business_id: string (nullable = true)
 |-- review_text: string (nullable = true)
 |-- review_date: string (nullable = true)

In [26]:
businesses.printSchema()

root
 |-- business_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)
 |-- stars: string (nullable = true)
 |-- review_count: string (nullable = true)
 |-- categories: string (nullable = true)

In [27]:
friendships.printSchema()

root
 |-- src_user_id: string (nullable = true)
 |-- dst_user_id: string (nullable = true)

## Task 6

In [29]:
spark.sql('SELECT * FROM reviews INNER JOIN businesses ON reviews.business_id = businesses.business_id') \
    .createTempView('business_review')

In [31]:
spark.sql('SELECT * FROM business_review LIMIT 5').show()

+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+---------+-----+-----------+--------+---------+-----+------------+--------------------+
|           review_id|             user_id|         business_id|         review_text|      review_date|         business_id|                name|             address|     city|state|postal_code|latitude|longitude|stars|review_count|          categories|
+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+---------+-----+-----------+--------+---------+-----+------------+--------------------+
|v8QPs6AaixrqXvC5r...|---1lKK3aKOuomHnw...|--9e1ONYQuAa-CB_R...|U28gd2hlbiB5b3UgZ...|1226374805.000000|--9e1ONYQuAa-CB_R...|Delmonico Steakhouse|3355 Las Vegas Bl...|Las Vegas|   NV|      89109| 36.1232| -115.169|    4|        1613|Cajun/Creole, Sea...|
|PJLBGBr2IU4rN4RTd...|-fQPzH-e-ubDIiLQh...|--9e1ONYQuAa-CB_R...|NC41IFN0YXJzIApEZ...|1226456800.000000|--9e1ONYQuAa-CB_R...|Delmonico Steakhouse|3355 Las Vegas Bl...|Las Vegas|   NV|      89109| 36.1232| -115.169|    4|        1613|Cajun/Creole, Sea...|
|XC64r62vBt6G3IuVc...|-k5yFUChotBMGQgHd...|--9e1ONYQuAa-CB_R...|SWYgSSBoYWQgdG8gY...|1245393745.000000|--9e1ONYQuAa-CB_R...|Delmonico Steakhouse|3355 Las Vegas Bl...|Las Vegas|   NV|      89109| 36.1232| -115.169|    4|        1613|Cajun/Creole, Sea...|
|vyaZbtXU6GxrCV96C...|-lh59ko3dxChBSZ9U...|--9e1ONYQuAa-CB_R...|QWxsIHRoZSB5ZWFyc...|1452085062.000000|--9e1ONYQuAa-CB_R...|Delmonico Steakhouse|3355 Las Vegas Bl...|Las Vegas|   NV|      89109| 36.1232| -115.169|    4|        1613|Cajun/Creole, Sea...|
|mkZT8o94sZg8Oq8br...|0nqshyLgABOSyTfJU...|--9e1ONYQuAa-CB_R...|SSBkaWQgdGhlIDIwM...|1346384600.000000|--9e1ONYQuAa-CB_R...|Delmonico Steakhouse|3355 Las Vegas Bl...|Las Vegas|   NV|      89109| 36.1232| -115.169|    4|        1613|Cajun/Creole, Sea...|
+--------------------+--------------------+--------------------+--------------------+-----------------+--------------------+--------------------+--------------------+---------+-----+-----------+--------+---------+-----+------------+--------------------+

In [37]:
user_no_reviews = spark.sql('SELECT user_id, count(user_id) AS no_reviews ' +
                            'FROM reviews GROUP BY user_id ORDER BY no_reviews DESC ' + 
                            'LIMIT 20')
user_no_reviews.show()

+--------------------+----------+
|             user_id|no_reviews|
+--------------------+----------+
|CxDOIDnH8gp9KXzpB...|      4129|
|bLbSNkLggFnqwNNzz...|      2354|
|PKEzKWv_FktMm2mGP...|      1822|
|ELcQDlf69kb-ihJfx...|      1764|
|DK57YibC5ShBmqQl9...|      1727|
|U4INQZOPSUaj8hMjL...|      1559|
|QJI9OSEn6ujRCtrX0...|      1496|
|d_TBs6J3twMy9GChq...|      1360|
|hWDybu_KvYLSdEFzG...|      1355|
|cMEtAiW60I5wE_vLf...|      1255|
|YRcaNlwQ6XXPFDXWt...|      1234|
|62GNFh5FySkA3MbrQ...|      1199|
|dIIKEfOgo0KqUfGQv...|      1198|
|UYcmGbelzRa0Q6Jqz...|      1196|
|n86B7IkbU20AkxlFX...|      1152|
|rCWrxuRC8_pfagpch...|      1148|
|3nDUQBjKyVor5wV0r...|      1106|
|iDlkZO2iILS8Jwfdy...|      1088|
|U5YQX_vMl_xQy8EQD...|      1024|
|0BBUmH7Krcax1RZgb...|      1018|
+--------------------+----------+